/.settings
/bin
/target
/student
.classpath
.project
*.css.map
.sass-cache
/data
/logs
/.dropbox
/desktop.ini
/src/main/resources/h2.conf
/src/main/resources/firebase.json
/src/main/resources/*.csv
/src/main/resources/.vscode
/src/main/resources/webroot/img/icon/55*
/src/main/resources/webroot/img/icon-updated/*.png
/src/main/resources/webroot/img/icon-initial/*.png
/src/main/resources/webroot/img/icon-random/*.png
