/.settings
/bin
/target
/target-dist
/student
.classpath
.project
*.css.map
.sass-cache
*.mp3
/data
/logs
/.dropbox
/desktop.ini
/src/main/resources/conf/*.json
/src/main/resources/conf/*.csv
/src/main/resources/conf/*.conf
/src/main/resources/.vscode
/src/main/resources/webroot/img/icon/55*
/src/main/resources/webroot/img/icon-updated/*.png
/src/main/resources/webroot/img/icon-initial/*.png
/src/main/resources/webroot/img/icon-random/*.png
