<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="fcontent">
  <div class="row mt-2 mb-2">
    <div class="col-12">
      <div class="btn-group">
        <a class="btn btn-sm btn-success" href="play.html"><i class="fas fa-arrow-left"></i>
          碁盤に戻る</a>
      </div>
      <div class="btn-group float-end">
        <a class="btn btn-sm btn-primary" href="players.html"> ユーザ (学生)</a> <a class="btn btn-sm btn-secondary"
          href="players-all.html"> ユーザ (全ユーザ)</a> <a class="btn btn-sm btn-primary" href="games.html"> 対局 (進行中)</a> <a
          class="btn btn-sm btn-secondary" href="games-all.html"> 対局 (本日)</a> <a class="btn btn-sm btn-info"
          href="questions.html"> 質問</a>
      </div>
    </div>
  </div>
</div>