<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">

<th:block th:fragment="meta-fragment">
    <meta name="robots" content="noindex,nofollow">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" th:href="|/webjars/bootstrap/${webjars.bootstrap}/dist/css/bootstrap.min.css|">

    <link rel="stylesheet"
        th:href="|/webjars/bootstrap-treeview/${webjars.bootstrap_treeview}/dist/bootstrap-treeview.min.css|">
    <link rel="stylesheet"
        th:href="|/webjars/datatables.net-bs5/${webjars.datatables_net_bs5}/css/dataTables.bootstrap5.min.css|">
    <link rel="stylesheet"
        th:href="|/webjars/datatables.net-buttons-bs5/${webjars.datatables_net_buttons_bs5}/css/buttons.bootstrap5.min.css|">
    <link rel="stylesheet" th:href="|/webjars/emojionearea/${webjars.emojionearea}/dist/emojionearea.min.css|">
    <link rel="stylesheet" th:href="|/css/play.css?${MODIFIED_DATES.css_play_css}|">
    <link rel="stylesheet" th:href="|/css/emojionearea-override.css?${MODIFIED_DATES.css_emojionearea_override_css}|">

    <script th:src="|/webjars/jquery/${webjars.jquery}/dist/jquery.min.js|"></script>

    <script th:src="|/webjars/bootstrap/${webjars.bootstrap}/dist/js/bootstrap.bundle.min.js|"></script>
    <script
        th:src="|/webjars/bootstrap-treeview/${webjars.bootstrap_treeview}/dist/bootstrap-treeview.min.js|"></script>

    <script th:src="|/webjars/stacktrace-js/${webjars.stacktrace_js}/dist/stacktrace.min.js|"></script>
    <script th:src="|/webjars/sweetalert2/${webjars.sweetalert2}/dist/sweetalert2.all.min.js|"></script>
    <script
        th:src="|/webjars/fortawesome__fontawesome-free/${webjars.fortawesome\_\_fontawesome_free}/js/all.min.js|"></script>

    <script th:src="|/webjars/datatables.net/${webjars.datatables_net}/js/dataTables.min.js|"></script>
    <script
        th:src="|/webjars/datatables.net-bs5/${webjars.datatables_net_bs5}/js/dataTables.bootstrap5.min.js|"></script>
    <script
        th:src="|/webjars/datatables.net-buttons/${webjars.datatables_net_buttons}/js/dataTables.buttons.min.js|"></script>
    <script
        th:src="|/webjars/datatables.net-buttons/${webjars.datatables_net_buttons}/js/buttons.html5.min.js|"></script>
    <script
        th:src="|/webjars/datatables.net-buttons/${webjars.datatables_net_buttons}/js/buttons.print.min.js|"></script>
    <script
        th:src="|/webjars/datatables.net-buttons-bs5/${webjars.datatables_net_buttons_bs5}/js/buttons.bootstrap5.min.js|"></script>

    <script th:src="|/webjars/firebase/${webjars.firebase}/firebase-app-compat.js|"></script>
    <script th:src="|/webjars/firebase/${webjars.firebase}/firebase-auth-compat.js|"></script>
    <script th:src="|/webjars/firebase/${webjars.firebase}/firebase-firestore-compat.js|"></script>

    <script th:src="|/webjars/ua-parser-js/${webjars.ua_parser_js}/dist/ua-parser.min.js|"></script>

    <script th:src="|/js/lib/jsonrpc-client.js?${MODIFIED_DATES.js_lib_jsonrpc_client_js}|"></script>
    <script th:src="|/js/utils.js?${MODIFIED_DATES.js_utils_js}|"></script>

    <script th:inline="javascript">
        const firebaseConfig = /*[[${firebaseConfig}]]*/ {};
        firebase.initializeApp(firebaseConfig);
    </script>

    <script th:src="|/js/firebase.js?${MODIFIED_DATES.js_firebase_js}|"></script>


</th:block>

</html>