<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="fcontent">
  <div class="modal fade" id="modal-records" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            対局カード <i class="fas fa-address-card"></i>
          </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="tbl-game-record-wrapper"></div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>