<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<div th:fragment="fcontent">
  <div class="modal fade" id="modal-app-info" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            このアプリについて <i class="fas fa-info-circle"></i>
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h2 class="code-line" data-line-start=2 data-line-end=3><a id="_2"></a>ライセンス</h2>
          <h3 class="code-line" data-line-start=3 data-line-end=4><a id="_3"></a>概要</h3>
          <ul>
            <li class="has-line-data" data-line-start="4" data-line-end="6">当プロジェクトが著作権を持つものは Apache License Version 2.0
              で公開しています．</li>
            <li>当プロジェクトが著作権を持たない，リソースファイルは以下です．</li>
          </ul>
          <h3 class="code-line" data-line-start=6 data-line-end=7><a id="_6"></a>日本棋院</h3>
          <ul>
            <li class="has-line-data" data-line-start="7" data-line-end="9">問題ファイル
              (src/main/resources/problem/**/*.json)は<a
                href="https://www.nihonkiin.or.jp/">日本棋院</a>より提供されたものです．本システムの利用のために，使用が認められています．</li>
          </ul>
          <h3 class="code-line" data-line-start=9 data-line-end=10><a id="_9"></a>イラストや</h3>
          <ul>
            <li class="has-line-data" data-line-start="10" data-line-end="12">
              src/main/resources/webroot/img/logo/game_igo_ban.png 及び src/main/resources/webroot/img/icon-random/*.png は <a
                href="https://www.irasutoya.com/p/terms.html">ご利用について /| いらすとや</a>に基づいて利用しています．</li>
          </ul>
          <h3 class="code-line" data-line-start=12 data-line-end=13><a id="_12"></a>くらげ工匠</h3>
          <ul>
            <li class="has-line-data" data-line-start="13" data-line-end="15">
              src/main/resources/webroot/audio/button63.mp3 は，<a href="http://www.kurage-kosho.info/guide.html">ご利用ガイド
                /-フリー効果音素材 くらげ工匠</a>に基づいて利用しています．</li>
          </ul>
          <h3 class="code-line" data-line-start=15 data-line-end=16><a id="Font_Awesome_15"></a>Font Awesome</h3>
          <ul>
            <li class="has-line-data" data-line-start="16" data-line-end="18"><a
                href="https://fontawesome.com/license">Pro License | Font Awesome</a>に基づき，Font Awesomeを利用しています．</li>
          </ul>
          <h3 class="code-line" data-line-start=18 data-line-end=19><a id="_18"></a>東邦大学</h3>
          <ul>
            <li class="has-line-data" data-line-start="19" data-line-end="21">
              src/main/resources/webroot/img/logo/toho-sm.pg は，東邦大学が著作権を持つものです．</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>
</div>