<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">

<div id="row-game-area" class="row no-gutters mt-4 mb-4" th:fragment="fcontent">
    <div class="col-12 col-sm-2">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-1 col-sm-12"></div>
                    <div id="white-stones-wrapper" class="col-3 col-sm-12">
                        <div id="white-stones"></div>
                    </div>
                    <div class="col-3 col-sm-12">
                        <div id="white-stones-cap" class="d-flex">
                            <div id="white-agehama-wrapper" class="m-auto">
                                <div id="white-agehama-2"></div>
                                <div id="white-agehama-1"></div>
                            </div>
                        </div>
                        <div id="white-agehama-num-wrapper" class="text-center">
                            <span id="white-agehama-num"></span> 個
                        </div>
                    </div>
                    <div class="col-5 col-sm-12"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-8 text-center">
        <div class="d-flex justify-content-center">
            <div id="spinner-loading-wrapper">
                Loading ...
                <div class="spinner-grow spinner-sm text-primary" role="status"></div>
            </div>
        </div>
        <div id="game-board-wrapper">
            <canvas id="game-board"></canvas>
        </div>
    </div>
    <div class="col-12 col-sm-2 d-sm-flex align-items-end">
        <div class="row">
            <div class="col-5 col-sm-12"></div>
            <div class="col-3 col-sm-12">
                <div id="black-stones-cap" class="d-flex">
                    <div id="black-agehama-wrapper" class="m-auto">
                        <div id="black-agehama-2"></div>
                        <div id="black-agehama-1"></div>
                    </div>
                </div>
                <div id="black-agehama-num-wrapper" class="text-center">
                    <span id="black-agehama-num"></span> 個
                </div>
            </div>
            <div id="black-stones-wrapper" class="col-3 col-sm-12">
                <div id="black-stones"></div>
            </div>
            <div class="col-1 col-sm-12"></div>
        </div>
    </div>
</div>