<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<th:block th:fragment="fcontent">
    <img id="moving-white-stone" src="/img/play/white-stone.png" style="display: none" />
    <img id="moving-black-stone" src="/img/play/black-stone.png" style="display: none" />
    <div id="moving-a-stone" style="display: none"></div>
    <div id="moving-b-stone" style="display: none"></div>
    <div id="moving-c-stone" style="display: none"></div>
    <div id="moving-x-stone" style="display: none"></div>
    <div id="moving-circle-stone" style="display: none"></div>
    <div id="moving-rectangle-stone" style="display: none"></div>
    <div id="moving-triangle-stone" style="display: none"></div>
    <audio id="audio-tap" preload="auto" muted>
        <source src="/audio/button63.mp3" type="audio/mpeg" />
    </audio>
</th:block>