<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<th:block th:fragment="fcontent">
  <div class="row bg-dark px-2 mb-1">
    <div class="col-12 p-1">
      <img src="/img/logo/toho-sm.png" class="rounded" style="height: 2em">
      <div class="btn-group">
        <div class="btn-group me-2">
          <button id="btn-page-reload" class="btn btn-sm btn-info">
            <i class="fas fa-redo"></i> <span class="d-none d-sm-inline"></span>
          </button>
        </div>
      </div>
      <div class="float-end text-end">
        <div class="btn-group float-end">
          <div class="dropdown">
            <button class="btn btn-sm btn-primary dropdown-toggle btn-group-header" data-bs-toggle="dropdown"
              id="btn-dropdown-info-menu">
              <i class="fas fa-bars"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <h6 class="dropdown-header">
                ユーザ <i class="fas fa-child"></i>
              </h6>
              <button id="btn-attendance" class="btn btn-sm btn-secondary dropdown-item">
                出席情報 <i class="fas fa-chair"></i>
              </button>
              <button class="btn btn-sm btn-secondary dropdown-item" data-bs-toggle="modal" data-bs-backdrop="static"
                data-bs-target="#modal-icon-upload">
                アイコン登録 <i class="fas fa-image"></i>
              </button>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">
                対局カード <i class="fas fa-user-friends"></i>
              </h6>
              <button class="btn btn-sm btn-secondary dropdown-item" data-bs-toggle="modal" data-bs-backdrop="static"
                data-bs-target="#modal-records">
                カード閲覧 <i class="fas fa-book"></i>
              </button>
              <button class="btn btn-sm btn-secondary dropdown-item" data-bs-toggle="modal" data-bs-backdrop="static"
                data-bs-target="#modal-record">
                カード記入 <i class="fas fa-pencil-alt"></i>
              </button>
              <div class="dropdown-divider"></div>
              <a class="btn btn-sm dropdown-item" href="https://scrapbox.io/toho-go/">アプリについて <i
                  class="fal fa-external-link"></i>
              </a>
              <a class="btn btn-sm dropdown-item" href="index.html">トップページ <i
                  class="fal fa-external-link"></i></a>
            </div>
          </div>
        </div>
        <div class="dropdown btn-group float-end" th:if='${currentUser.isAdmin()}'>
          <button type="button" class="btn btn-sm dropdown-toggle text-white" data-bs-toggle="dropdown"
            id="btn-dropdown-danger-menu">
            <i class="fas fa-child student-only" style="display: none"></i><i class="fas fa-user-tie teacher"
              style="display: none"></i> <i class="fas fa-pen-alt creator" style="display: none"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="#" id="to-student-mode" class="btn btn-sm dropdown-item">学生 <i class="fas fa-child"></i></a> <a
              href="#" id="to-teacher-mode" class="btn btn-sm dropdown-item">教員 <i class="fas fa-user-tie"></i>
            </a> <a href="#" id="to-creator-mode" class="btn btn-sm dropdown-item">問題作成者 <i
                class="fas fa-pen-alt"></i></a>
          </div>
        </div>
        <div class="selectable text-white pt-1 pe-2 float-end small" id="card-current-user-info">
          <span class="current-user-icon"></span> <span class="current-user-info"></span> <span class="badge bg-info"
            th:if='${isAttendance and !currentUser.isAdmin()}'>出</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-light teacher" th:if='${currentUser.isAdmin()}'>
    <div class="col-12 text-end">
      <div class="btn-group">
        <a id="link-load-players" class="btn btn-sm btn-outline-dark btn-group-header" href="players.html"> <span
            class="d-none d-sm-inline">学生</span> <i class="fas fa-child"></i> <i class="fas fa-list"></i>
        </a>
        <button class="btn btn-sm btn-secondary" id="btn-load-prev-std">
          <i class="fas fa-chevron-circle-left"></i> 前
        </button>
        <button class="btn btn-sm btn-success" id="btn-load-next-std">
          次 <i class="fas fa-chevron-circle-right"></i>
        </button>
      </div>
      <div class="btn-group">
        <a id="link-list-games" class="btn btn-sm btn-outline-dark btn-group-header" href="games.html"> <span
            class="d-none d-sm-inline">対局</span> <i class="fas fa-user-friends"></i> <i class="fas fa-list"></i>
        </a>
        <button class="btn btn-sm btn-secondary" id="btn-load-prev-game">
          <i class="fas fa-chevron-circle-left"></i> 前
        </button>
        <button class="btn btn-sm btn-success" id="btn-load-next-game">
          次 <i class="fas fa-chevron-circle-right"></i>
        </button>
      </div>
    </div>
  </div>
</th:block>