<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<object th:include="/fragment/head.html::meta-fragment" th:remove="tag"></object>
<script src="../js/play-common.js"></script>
<script th:src="|../js/play-common.js?${js_play_common_js}|"></script>
<script th:src="|../js/admin.js?${js_admin_js}|"></script>
<title>管理 | Go</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>トラブルシューティング</h2>
        <p>以下の手順で復旧を試みる．簡易な復旧としては「対策0： 画面を更新」「対策1： 学生端末で碁盤データを一手戻す」「対策4： サーバを再起動する」の三つで十分なはず．</p>
        <h3>対策0： 画面を更新</h3>
        <ul>
          <li>操作者と操作端末：学生が学生PCで</li>
          <li>方法： F5を押すか更新ボタンを押して画面を更新する</li>
          <li>起こること：画面が更新される．</li>
        </ul>
        <h3>対策1： 学生端末で碁盤データを一手戻す</h3>
        <ul>
          <li>操作者と操作端末：学生が学生PCで</li>
          <li>方法： 左上の1手戻すボタンを押す．</li>
          <li>起こること：碁盤データが一手前のものになる．</li>
          <li>備考： 一回呼び出す毎に一手戻る．一手戻してもダメなら2-3手戻してみる．</li>
        </ul>
        <h3>対策2： 教員端末で碁盤データを一手戻す</h3>
        <ul>
          <li>操作者と操作端末：教員が教員PCで</li>
          <li>方法： <a id="link-go-back" href="#"> ここをクリック</a></li>
          <li>起こること：碁盤データが一手前のものになる．</li>
          <li>備考： 一回呼び出す毎に一手戻る．一手戻してもダメなら2-3手戻してみる．</li>
        </ul>
        <h3>対策3： 学生のローカルデータをクリアする</h3>
        <ul>
          <li>操作者と操作端末：教員が学生PCで</li>
          <li>方法： 学生の端末で「教員メニュー」を開き「ローカルデータ初期化」を選ぶ．</li>
          <li>起こること：端末のローカルデータが消える．碁盤データは変わらない．</li>
        </ul>
        <h3>対策4： 学生のローカルのデータと碁盤をクリアする</h3>
        <ul>
          <li>操作者と操作端末：教員が学生PCで</li>
          <li>方法：学生の端末で「教員メニュー」を開き「完全初期化」を選ぶ．その学生のユーザIDを入れて初期化する．</li>
          <li>起こること：端末のローカルデータと指定したIDの碁盤データがクリアされる．</li>
          <li>備考：これをした後で「サーバを再起動する」もすると，ほぼ完全に初期状態になる．</li>
        </ul>
        <h3>対策6： それでもダメな場合は，ユーザIDを変更する</h3>
        <ul>
          <li>操作者と操作端末：教員が学生PCで</li>
          <li>方法：「学生のローカルのデータと碁盤をクリアする」をもう一度実行する．ユーザIDに使われていない学籍番号を入力する．</li>
          <li>起こること：新しいユーザなのでサーバ上に全くデータがない状態になる．またローカル(ブラウザ)にもデータがない状態になる．</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
