<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<object th:include="/fragment/head.html::meta-fragment" th:remove="tag"></object>
<title>ヘルプ - GO</title>
<style>
.container {
  max-width: 760px;
}

h1, h2, h3 {
  color: #38A997;
}
</style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <div class="card card-body bg-light">
              <h5>碁盤の操作</h5>
              <ul>
                <li><label>碁盤を初期化する</label>： 現在の碁盤(画面最上部の<label class="label label-info">先手</label>と<label
                  class="label label-info">後手</label>の対局)を，指定した路数で初期化する．</li>
                <li><label>先手・後手を指定して碁盤を開く</label>： 入力した先手と後手の対局の碁盤を開く．</li>
                <li><label>対局IDを指定して既存の碁盤を開く</label>： 入力した対局IDの既存の碁盤を開く．</li>
              </ul>
              <h5>碁石の操作</h5>
              <ul>
                <li><label>石を置く</label>： 碁笥(<img src="../img/play/black-stones.png" height="30">)から石を取り出し，盤上の置きたい場所までドラッグ・アンド・ドロップする．</li>
                <li><label>石を動かす</label>： 盤上の動かしたい石を選択し，動かしたい場所までドラッグ・アンド・ドロップする．</li>
                <li><label>石を取り除く</label>： 盤上の取り除きたい石を選択し，盤外までドラッグ・アンド・ドロップする．</li>
              </ul>
              <h5>その他</h5>
              <ul>
                <li><label>ユーザIDを修正する</label>： 入力したユーザIDに修正する．</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
