<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
<object th:include="/fragment/head.html::meta-fragment" th:remove="tag"></object>
<link type="text/css" rel="stylesheet" href="/webjars/firebaseui/6.0.1/dist/firebaseui.css" />
<script src="/webjars/firebaseui/6.0.1/dist/firebaseui.js"></script>

<script th:src="|../js/play-common.js?${js_play_common_js}|"></script>
<script th:src="|../js/check-environment.js?${js_check_environment_js}|"></script>
<script th:src="|../js/firebase-login.js?${js_firebase_login_js}|"></script>
<script th:src="|../js/index.js?${js_index_js}|"></script>
<title>ようこそ | 囲碁の演習と対局</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row pt-3 pb-3 px-4 text-white bg-dark">
      <div class="col-12 mincho">
        <img src="../img/logo/toho-sm.png" class="rounded float-start me-2" style="height: 2em">
        <h3>教育用囲碁Webアプリケーション</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-2 pt-2">
      <div class="col-12">
        <h1 class="my-auto flex-grow" style="font-family: Impact, sans-serif">
          Let's GO <img style="height: 1em; width: auto"
            src="https://i.gyazo.com/fc173199ee6bc65378496a775eebb5b1.png">
        </h1>
        <p>このシステムはオンライン上での囲碁教育を支援するシステムです．Webブラウザが使える端末があれば，簡単に授業に参加することが出来ます．</p>
        <div class="already-logged-in" style="display: none">
          <div class="clearfix">
            <code id="user-email"></code>
            でログインしています． <a class="btn btn-sm btn-primary" href="play.html">碁盤へ <i
              class="fas fa-arrow-circle-right"></i></a>
          </div>
          <div class="mt-2 small">
            <div class="text-muted">碁盤へ進めない場合は，ログアウトしてからもう一度ログインして下さい．</div>
            <button class="float-end btn btn-sm btn-warning" type="button" id="btn-logout">
              ログアウト <i class="fas fa-sign-out-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2 pt-2">
      <div class="col-sm-8">
        <div class="card card-default">
          <div class="card-header">Googleでログイン</div>
          <div class="card-body">
            <div id="fb-loading" class="text-muted">
              Loading login UI ...
              <div class="spinner-grow spinner-sm text-primary" role="status"></div>
            </div>
            <div id="fb-auth-container" style="display: none"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-default">
          <div class="card-header">IDでログイン</div>
          <div class="card-body">
            <div class="btn-group">
              <button id="btn-user-login" class="btn btn-sm btn-secondary" data-bs-toggle="modal"
                data-bs-backdrop="static" data-bs-target="#signup-modal">
                登録者 <i class="fas fa-sign-in-alt"></i>
              </button>
            </div>
            <p>講師および受講者のログイン</p>
            <div class="btn-group">
              <button id="btn-guest-login" class="btn btn-sm btn-secondary" data-bs-toggle="modal"
                data-bs-backdrop="static" data-bs-target="#signup-modal">
                ゲスト <i class="fas fa-sign-in-alt"></i>
              </button>
            </div>
            <p>見学者のログイン</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <div id="alert-error" class="alert alert-warning" style="display: none;"></div>
      </div>
    </div>
    <div class="row mt-3 small">
      <div class="col-sm-4" id="os-browser">使用Webブラウザ/OS チェック中．．．</div>
      <div class="col-sm-4" id="localStorage">Webブラウザ設定 チェック中．．．</div>
      <div class="col-sm-4" id="websocket">ネットワーク環境 チェック中．．．</div>
      <div class="col-12">
        <span class="badge bg-danger">ERROR</span> が表示される場合，このアプリケーションを利用できません．<span
          class="badge bg-warning">WARN</span> が表示される場合，一部の機能が利用できない場合があります．
      </div>
    </div>


    <div class="row mt-3 mb-2">
      <div class="col-12 text-end">
        <!--
        <a class="btn btn-warning btn-sm" href="reset-localdata.html"><i class="fas fa-exclamation-triangle"></i></a>
        -->
        <div class="btn-group">
          <a class="btn btn-sm btn-info" href="https://scrapbox.io/toho-go/"> アプリについて <i
            class="fas fa-external-link-alt"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div th:include="/fragment/modal-signup.html::fcontent" th:remove="tag"></div>
</body>

</html>