<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <object th:insert="~{/fragment/head.html::meta-fragment}" th:remove="tag"></object>

  <script th:src="|/webjars/blueimp-load-image/${webjars.blueimp_load_image}/js/load-image.all.min.js|"></script>
  <script th:src="|/webjars/emojionearea/${webjars.emojionearea}/dist/emojionearea.min.js|"></script>
  <script th:src="|/webjars/clipboard/${webjars.clipboard}/dist/clipboard.min.js|"></script>

  <script th:src="|/js/upload-icon.js?${MODIFIED_DATES.js_upload_icon_js}|"></script>
  <script th:src="|/js/register-record.js?${MODIFIED_DATES.js_register_record_js}|"></script>
  <script th:src="|/js/play-common.js?${MODIFIED_DATES.js_play_common_js}|"></script>
  <script th:src="|/js/play-board.js?${MODIFIED_DATES.js_play_board_js}|"></script>
  <script th:src="|/js/play-ws.js?${MODIFIED_DATES.js_play_ws_js}|"></script>
  <script th:src="|/js/play-creator.js?${MODIFIED_DATES.js_play_creator_js}|"></script>
  <script th:inline="javascript" th:if='${requireToLogin}'>
    $(function () {
      requireSignin();
    });
  </script>
  <script th:inline="javascript">
    var problems = [];
    $(function () {
      var problemsJson = /*[[${ problemGroupsJson }]]*/[];
      var problemsData = JSON.parse(problemsJson);
      for (var i = 0; i < problemsData.length; i++) {
        for (var j = 0; j < problemsData[i].nodes.length; j++) {
          problems.push(problemsData[i].nodes[j]);
        }
      }

      $('#problem-tree').treeview({
        data: problemsJson,
        showTags: true
      });
      $('#problem-tree').treeview('collapseAll');
    });
  </script>
  <style>
    #problem-tree .badge {
      color: #212529;
      background-color: #f8f9fa;
    }
  </style>
  <script th:src="|/js/play.js?${MODIFIED_DATES.js_play_js}|"></script>
  <title>碁盤 | Go</title>
</head>

<body class="unselectable">
  <div class="container-fluid">
    <div th:insert="~{/fragment/play-header.html::fcontent}"></div>
    <div th:insert="~{/fragment/play-top-menu.html::fcontent}"></div>
    <div th:insert="~{/fragment/play-creator-menu.html::fcontent}"></div>
  </div>
  <div class="container pt-2">
    <div th:insert="~{/fragment/play-game-area-header.html::fcontent}"></div>
    <div th:insert="~{/fragment/play-game-area.html::fcontent}"></div>
  </div>
  <div class="container-fluid">
    <div th:insert="~{/fragment/play-footer-menu.html::fcontent}"></div>
    <div th:insert="~{/fragment/play-footer-msg-area.html::fcontent}"></div>
  </div>

  <div th:insert="~{/fragment/modal-misc.html::fcontent}" th:remove="tag"></div>
  <div th:insert="~{/fragment/modal-icon.html::fcontent}" th:remove="tag"></div>
  <div th:insert="~{/fragment/modal-signup.html::fcontent}" th:remove="tag"></div>
  <div th:insert="~{/fragment/modal-record.html::fcontent}" th:remove="tag"></div>
  <div th:insert="~{/fragment/modal-records.html::fcontent}" th:remove="tag"></div>
  <div th:insert="~{/fragment/modal-creator.html::fcontent}" th:remove="tag"></div>
  <div th:insert="~{/fragment/modal-komi.html::fcontent}"></div>
  <div th:insert="~{/fragment/play-img-resource.html::fcontent}"></div>
</body>

</html>