<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
<object th:insert="~{/fragment/head.html::meta-fragment}" th:remove="tag"></object>
<script th:src="|../js/play-common.js?${MODIFIED_DATES.js_play_common_js}|"></script>
<script>
  $(function() {
    swalConfirm("初期化", "ローカルデータを初期化しますか？", "warning", function() {
      clearLocalStorage();
      location.href = "play.html";
      return;
    });
  });
</script>
<title>Reset Local Data</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12"></div>
    </div>
  </div>
</body>
</html>
